POSTGRES_USER=tu_usuario_de_postgres
POSTGRES_PASSWORD=tu_contraseña_de_postgres
POSTGRES_HOST=localhost

# NOTA: Asegúrate de reemplazar los valores de ejemplo con los valores reales de tu configuración de base de datos, 
# y usar el nombre .env en vez de .env.example para el archivo de configuración.